
// ------------------------------------------------------------------------------------------------------
// FOOTER

.footer {
  font-weight: 200;
  text-align: center;

}

.footer a {
  text-decoration: none;
  color: #dd4a22;
}