// ------------------------------------------------------------------------------------------------------
// HOMEPAGE

#wrapper {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

#header {
  padding: 30px 0;
}

#header-top {
  font-size: 30px;
  font-weight: 900;
}

#logo {
  height: auto;
  max-width: 100%;
}

#header-left {
  float: left;
}

#header-right {
  text-align: right;
}

#header-link, #header-bottom {
  text-decoration: none;
  color: dimgrey;
}

.sections {
  padding: 5% 8%;
  background-color: #fff;
  border-left: solid darkgrey 5px;
  border-right: solid darkgrey 5px;
}

#one {
  border-top: solid darkgrey 5px;
  border-bottom: solid darkgrey 0.3px;
}

#two {
  border-top: solid darkgrey 0.5px;
  border-bottom: solid darkgrey 0.5px;
}

#three {
  border-top: solid darkgrey 0.3px;
  border-bottom: solid darkgrey 5px;
}

#textarea {
  width: 100%;
  resize: none;
  border: solid lightgrey 3px;
}

#textarea::placeholder {
  padding: 15px;
  color: lightgrey;
}

.btn-create {
  width: 100%;
  height: 55px;
  text-align: center;
  background-color: #db7202;
  border-radius: 5px;
  border: none;
  color: #fff;
}

#link {
  background-color: #fff8ce;
  padding: 1% 7%;
  color: #63615e;
}

#warning {
  background-color: #ff7777;
  color: #63615e;
  float: left;
  width: 50%
}

#btn-copy {
  border: solid 3px #ff9900;
  color: #db7202;
  border-radius: 5px;
  background-color: #fff;
  height: 55px;
  width: 50%;
  font-size: 18px;
}

#btn-copy:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: copy;
}

.btn-create:hover {
  background-color: rgba(219, 114, 2, 0.9);
}

#section-three-wrap {
  padding: 30px 0;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .section-header {
    font-size: 16px;
  }

  #header-left {
    float: none;
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #header p {
    font-size: 20px;
  }

  .section-header {
    font-size: 22px;
  }

  #btn-copy {
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .section-header {
    font-size: 24px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}