#btn-view {
  width: 40%;
  height: 55px;
  text-align: center;
  background-color: #ee7128;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #fff;
}

#btn-view:hover {
  background-color: rgba(238, 113, 40, 0.9);
}