body {
    background-color: #e6e6e6;
    padding: 0 9%;
    color: #35363a;
}

#wrapper {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

#header {
    padding: 25px 0 20px 0;
}

#header-top {
    font-size: 30px;
    font-weight: 900;
}

#logo {
    height: auto;
    max-width: 10%;
}

#header-left {
    float: left;
}

#header-right {
    text-align: right;
}

#sit {
    text-decoration: none;
    color: #ee7128;
}

.header-link {
    text-decoration: none;
    color: #35363a;
}

#header:after {
    content: "";
    display: table;
    clear: both;
}

.sections {
    padding: 3% 8%;
    background-color: #fff;
    border-left: solid #d9d9d9 5px;
    border-right: solid #d9d9d9 5px;
}

.text-input {
    width: 100%;
}

.section-inner {
    padding: 10px 0;
}

#one {
    border-top: solid #d9d9d9 5px;
    border-bottom: solid #cccccc 0.3px;
}

#two {
    border-top: solid #cccccc 0.5px;
    border-bottom: solid #d9d9d9 5px;
}

#three {
    border-top: solid #d9d9d9 5px;
    border-bottom: solid #d9d9d9 5px;
}

#copy-label {
    color: #62835d;
    font-weight: bold;
}

.padding-small {
    padding: 20px 0;
}

.textarea {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    resize: none;
    border: solid #e6e6e6 3px;
    box-sizing: border-box;
}

#textarea::placeholder {
    color: #b3b3b3;
}

.btn-create {
    width: 100%;
    height: 55px;
    text-align: center;
    background-color: #ee7128;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fff;
}

#link {
    background-color: #fefbe5;
    padding: 3% 7%;
    color: #a4a69f;
}

.footer {
    font-weight: 200;
    text-align: center;

}

.footer a {
    text-decoration: none;
    color: #dd4a22;
}

#secreturi {
    width: 70%;
    border: none;
    background-color: #fefbe5;
}

#btn-copy {
    color: #ee7128;
    border: #ee7128 3px solid;
    border-radius: 5px;
    background-color: #fff;
    height: 55px;
    width: 50%;
    font-size: 18px;
}

.controls {

}

.fieldset {
    border: none;
}

#btn-view {
    width: 40%;
    height: 55px;
    text-align: center;
    background-color: #ee7128;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fff;
}

#btn-copy:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.btn-create:hover {
    background-color: rgba(238, 113, 40, 0.9);
}

#no-text-warning {
    text-align: center;
    background-color: #fff;
    border: #ee7128 3px solid;
    border-radius: 30px;
    padding: 10px 0;
}

.shared {
    border: #ee7128 3px solid;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    margin-top: 20%;
}

#error {
    text-align: center;
    background-color: #fff;
    border: #ee7128 3px solid;
    border-radius: 30px;
    padding: 30px 0;
    margin-top: 20%;
}

#img-error {
    height: auto;
    width: 10%;
}

/* Extra-Extra Small Devices, Phones */
@media only screen and (max-width: 320px) {
    #why {
        font-size: 8px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    body {
        padding: 0 2%;
        font-size: 10px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 16px;
    }

    .sections {
        padding: 3% 4%;
    }

    textarea {
        border: solid lightgrey 2px;
    }

    #link {
        padding: 3% 2%;
    }

    #header {
        padding: 15px 0 5px 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    body {
        padding: 0 4%;
        font-size: 14px;
    }

    #btn-copy {
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}