body {
    background-color: #e2e2e2;
    padding: 0 9%;
}

#wrapper {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

#header {
    padding: 30px 0;
}

#header-top {
    font-size: 30px;
    font-weight: 900;
}

#logo {
    height: auto;
    max-width: 15%;
}

#header-left {
    float: left;
}

#header-right {
    text-align: right;
}

#header-link, #header-bottom {
    text-decoration: none;
    color: dimgrey;
}

.sections {
    padding: 5% 8%;
    background-color: #fff;
    border-left: solid darkgrey 5px;
    border-right: solid darkgrey 5px;
}

.section-inner {
    padding: 10px 0;
}

#one {
    border-top: solid darkgrey 5px;
    border-bottom: solid darkgrey 0.3px;
}

#two {
    border-top: solid darkgrey 0.5px;
    border-bottom: solid darkgrey 5px;
}

#three {
    border-top: solid darkgrey 5px;
    border-bottom: solid darkgrey 5px;
}

#textarea {
    width: 100%;
    resize: none;
    border: solid lightgrey 3px;
}

#textarea::placeholder {
    padding: 15px;
    color: lightgrey;
}

.btn-create {
    width: 100%;
    height: 55px;
    text-align: center;
    background-color: #ee7128;
    border-radius: 5px;
    border: none;
    color: #fff;
}

#link {
    background-color: #fff8ce;
    padding: 3% 7%;
    color: #63615e;
}

#secreturi {
    width: 90%;
    border: none;
    background-color: #fff8ce;
}

#btn-copy {
    color: #ee7128;
    border-radius: 5px;
    background-color: #fff;
    height: 55px;
    width: 50%;
    font-size: 18px;
}

#btn-copy:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: copy;
}

.btn-create:hover {
    background-color: rgba(238, 113, 40, 0.9);
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    #btn-copy {
        width: 100%;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}