/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_name = 'arrow';
$arrow_x = 29px;
$arrow_y = 62px;
$arrow_offset_x = -29px;
$arrow_offset_y = -62px;
$arrow_width = 31px;
$arrow_height = 32px;
$arrow_total_width = 131px;
$arrow_total_height = 99px;
$arrow_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$arrow = 29px 62px -29px -62px 31px 32px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'arrow';
$cmd_name = 'cmd';
$cmd_x = 104px;
$cmd_y = 0px;
$cmd_offset_x = -104px;
$cmd_offset_y = 0px;
$cmd_width = 27px;
$cmd_height = 27px;
$cmd_total_width = 131px;
$cmd_total_height = 99px;
$cmd_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$cmd = 104px 0px -104px 0px 27px 27px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'cmd';
$copy_name = 'copy';
$copy_x = 75px;
$copy_y = 0px;
$copy_offset_x = -75px;
$copy_offset_y = 0px;
$copy_width = 29px;
$copy_height = 38px;
$copy_total_width = 131px;
$copy_total_height = 99px;
$copy_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$copy = 75px 0px -75px 0px 29px 38px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'copy';
$info_link_name = 'info-link';
$info_link_x = 60px;
$info_link_y = 62px;
$info_link_offset_x = -60px;
$info_link_offset_y = -62px;
$info_link_width = 29px;
$info_link_height = 29px;
$info_link_total_width = 131px;
$info_link_total_height = 99px;
$info_link_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$info_link = 60px 62px -60px -62px 29px 29px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'info-link';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 75px;
$logo_height = 62px;
$logo_total_width = 131px;
$logo_total_height = 99px;
$logo_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$logo = 0px 0px 0px 0px 75px 62px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'logo';
$orange_arrow_name = 'orange-arrow';
$orange_arrow_x = 104px;
$orange_arrow_y = 46px;
$orange_arrow_offset_x = -104px;
$orange_arrow_offset_y = -46px;
$orange_arrow_width = 20px;
$orange_arrow_height = 13px;
$orange_arrow_total_width = 131px;
$orange_arrow_total_height = 99px;
$orange_arrow_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$orange_arrow = 104px 46px -104px -46px 20px 13px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'orange-arrow';
$paste_name = 'paste';
$paste_x = 0px;
$paste_y = 62px;
$paste_offset_x = 0px;
$paste_offset_y = -62px;
$paste_width = 29px;
$paste_height = 37px;
$paste_total_width = 131px;
$paste_total_height = 99px;
$paste_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$paste = 0px 62px 0px -62px 29px 37px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'paste';
$questionmark_name = 'questionmark';
$questionmark_x = 104px;
$questionmark_y = 27px;
$questionmark_offset_x = -104px;
$questionmark_offset_y = -27px;
$questionmark_width = 19px;
$questionmark_height = 19px;
$questionmark_total_width = 131px;
$questionmark_total_height = 99px;
$questionmark_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$questionmark = 104px 27px -104px -27px 19px 19px 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' 'questionmark';
$retina_arrow_name = 'retina_arrow';
$retina_arrow_x = 58px;
$retina_arrow_y = 122px;
$retina_arrow_offset_x = -58px;
$retina_arrow_offset_y = -122px;
$retina_arrow_width = 62px;
$retina_arrow_height = 63px;
$retina_arrow_total_width = 258px;
$retina_arrow_total_height = 196px;
$retina_arrow_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_arrow = 58px 122px -58px -122px 62px 63px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_arrow';
$retina_cmd_name = 'retina_cmd';
$retina_cmd_x = 206px;
$retina_cmd_y = 0px;
$retina_cmd_offset_x = -206px;
$retina_cmd_offset_y = 0px;
$retina_cmd_width = 52px;
$retina_cmd_height = 52px;
$retina_cmd_total_width = 258px;
$retina_cmd_total_height = 196px;
$retina_cmd_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_cmd = 206px 0px -206px 0px 52px 52px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_cmd';
$retina_copy_name = 'retina_copy';
$retina_copy_x = 148px;
$retina_copy_y = 0px;
$retina_copy_offset_x = -148px;
$retina_copy_offset_y = 0px;
$retina_copy_width = 58px;
$retina_copy_height = 74px;
$retina_copy_total_width = 258px;
$retina_copy_total_height = 196px;
$retina_copy_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_copy = 148px 0px -148px 0px 58px 74px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_copy';
$retina_info_link_name = 'retina_info-link';
$retina_info_link_x = 120px;
$retina_info_link_y = 122px;
$retina_info_link_offset_x = -120px;
$retina_info_link_offset_y = -122px;
$retina_info_link_width = 56px;
$retina_info_link_height = 56px;
$retina_info_link_total_width = 258px;
$retina_info_link_total_height = 196px;
$retina_info_link_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_info_link = 120px 122px -120px -122px 56px 56px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_info-link';
$retina_logo_name = 'retina_logo';
$retina_logo_x = 0px;
$retina_logo_y = 0px;
$retina_logo_offset_x = 0px;
$retina_logo_offset_y = 0px;
$retina_logo_width = 148px;
$retina_logo_height = 122px;
$retina_logo_total_width = 258px;
$retina_logo_total_height = 196px;
$retina_logo_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_logo = 0px 0px 0px 0px 148px 122px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_logo';
$retina_orange_arrow_name = 'retina_orange-arrow';
$retina_orange_arrow_x = 206px;
$retina_orange_arrow_y = 90px;
$retina_orange_arrow_offset_x = -206px;
$retina_orange_arrow_offset_y = -90px;
$retina_orange_arrow_width = 39px;
$retina_orange_arrow_height = 25px;
$retina_orange_arrow_total_width = 258px;
$retina_orange_arrow_total_height = 196px;
$retina_orange_arrow_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_orange_arrow = 206px 90px -206px -90px 39px 25px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_orange-arrow';
$retina_paste_name = 'retina_paste';
$retina_paste_x = 0px;
$retina_paste_y = 122px;
$retina_paste_offset_x = 0px;
$retina_paste_offset_y = -122px;
$retina_paste_width = 58px;
$retina_paste_height = 74px;
$retina_paste_total_width = 258px;
$retina_paste_total_height = 196px;
$retina_paste_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_paste = 0px 122px 0px -122px 58px 74px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_paste';
$retina_questionmark_name = 'retina_questionmark';
$retina_questionmark_x = 206px;
$retina_questionmark_y = 52px;
$retina_questionmark_offset_x = -206px;
$retina_questionmark_offset_y = -52px;
$retina_questionmark_width = 38px;
$retina_questionmark_height = 38px;
$retina_questionmark_total_width = 258px;
$retina_questionmark_total_height = 196px;
$retina_questionmark_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_questionmark = 206px 52px -206px -52px 38px 38px 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' 'retina_questionmark';
$spritesheet_width = 131px;
$spritesheet_height = 99px;
$spritesheet_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png';
$spritesheet_sprites = $arrow $cmd $copy $info_link $logo $orange_arrow $paste $questionmark;
$spritesheet = 131px 99px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 258px;
$retina_spritesheet_height = 196px;
$retina_spritesheet_image = '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png';
$retina_spritesheet_sprites = $retina_arrow $retina_cmd $retina_copy $retina_info_link $retina_logo $retina_orange_arrow $retina_paste $retina_questionmark;
$retina_spritesheet = 258px 196px '/Users/rhys/Desktop/Projects/Finals/onetimesecret/public/web/assets/images/sprite@2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$arrow_group_name = 'arrow';
$arrow_group = 'arrow' $arrow $retina_arrow;
$cmd_group_name = 'cmd';
$cmd_group = 'cmd' $cmd $retina_cmd;
$copy_group_name = 'copy';
$copy_group = 'copy' $copy $retina_copy;
$info_link_group_name = 'info-link';
$info_link_group = 'info-link' $info_link $retina_info_link;
$logo_group_name = 'logo';
$logo_group = 'logo' $logo $retina_logo;
$orange_arrow_group_name = 'orange-arrow';
$orange_arrow_group = 'orange-arrow' $orange_arrow $retina_orange_arrow;
$paste_group_name = 'paste';
$paste_group = 'paste' $paste $retina_paste;
$questionmark_group_name = 'questionmark';
$questionmark_group = 'questionmark' $questionmark $retina_questionmark;
$retina_groups = $arrow_group $cmd_group $copy_group $info_link_group $logo_group $orange_arrow_group $paste_group $questionmark_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
