{{>header}}
<body>
<div id="wrapper">
    <form id="createSecret" method="post" autocomplete="off" action="/">
        <section id="header">
            <div id="header-left">
                <h1><a class="header-link" href="/">Send Information Securely</a></h1>
                <p class="header-link">Via <a id="sit" href="http://www.soundintheory.co.uk">Sound in Theory</a>
                </p>
            </div>

            <div id="header-right">
                <a href="http://www.soundintheory.co.uk">
                    <img src="/img/SIT_ICON_CMYK.png" alt="Logo" id="logo">
                </a>
            </div>
        </section>

        <section class="sections" id="one">
            <h2 class="section-header">1. Paste in your secret information</h2>

            {{{add_shrimp}}}
            <textarea rows="7" class="btn-block textarea" id="input-textarea" name="secret" autocomplete="off"
                      placeholder="Enter the information you want to send"></textarea>
            <input name="kind" value="share" type="hidden">

        </section>

        <section class="sections" id="two">
            <div>
                <h2 class="section-header">2. Create a secret link that only works once</h2>

                <input class="btn" id="btn-create" type="submit"
                       value="{{i18n.COMMON.button_create_secret}}{{^authenticated}}*{{/authenticated}}"
                       form="createSecret">

                <p><i class="fa fa-info-circle"></i> The link can only be clicked once and then it expires. <b>Do not
                    visit
                    yourself!</b></p>
            </div>
        </section>

        <section class="footer">
            <div>
                <p>Provided By: <a href="http://www.soundintheory.co.uk">Sound in Theory</a> | Powered By: <a
                        href="https://onetimesecret.com/">One Time Secret</a></p>
            </div>
        </section>
    </form>
</div>
</body>