{{>header}}
<body>
<div id="wrapper">

    <section id="header">
        <div id="header-left">
            <p id="header-top">Send Information Securely</p>
            <p id="header-bottom">Via <a id="header-link"
                                         href="http://www.soundintheory.co.uk">www.soundintheory.co.uk</a></p>
        </div>

        <div id="header-right">
            <img src="/assets/images/logo.png" alt="Logo" id="logo">
        </div>

    </section>

    <section class="section" id="one">
        <h2 class="section-header">1. Paste in your secret information</h2>
        <form id="createSecret">
            <textarea id="textarea" placeholder="Enter the information you want to send" rows="10" required></textarea>
        </form>
    </section>

    <section class="section" id="two">
        <h2 class="section-header">2. Create a secret link that only works once</h2>
        <button class="btn-create" id="createSecret" type="submit">Create Secret Link</button>
        <p><i class="fa fa-info-circle"></i> The link can only be clicked once and then it expires. <b>Do not visit
            yourself!</b></p>
    </section>

    <section class="section" id="three">
        <h2 class="section-header">3. Copy link and send via email, text or chat</h2>
        <div style="padding: 10px 0">
            <div id="link">
                <p><i class="fa fa-chain" style="padding-right: 2%"></i>Your secure link will appear
                    here.</p>
            </div>

                <button id="btn-copy" role="button" type="button">Copy Link</button>
        </div>
    </section>

</div>

</body>
</html>