{{>header}}

<body>
<div id="wrapper">
    <div id="error">
        <h1>404</h1>
        <h2>Oops, this page doesn't exist!</h2>
        <img id="img-error" src="/img/SIT_ICON_CMYK.png" alt="Sound in Theory">
    </div>
</div>
</body>
