{{>header}}
<body>
<div id="wrapper">

    <section id="header">
        <div id="header-left">
            <h1><a class="header-link" href="/">Send Information Securely</a></h1>
            <p class="header-link">Via <a id="sit" href="http://www.soundintheory.co.uk">Sound in Theory</a>
            </p>
        </div>

        <div id="header-right">
            <a href="http://www.soundintheory.co.uk">
                <img src="/img/SIT_ICON_CMYK.png" alt="Logo" id="logo">
            </a>
        </div>
    </section>

    <section class="sections" id="three">
        <h2 class="section-header">3. Copy the link below and send via email, text or chat</h2>
        <div class="section-inner">
            <div id="link" class="clearfix cf">
                <form id="url-form">
                    <label id="lbl-chain" for="secreturi"><i class="fa fa-chain"></i></label>
                    <div id="secreturi-wrap">
                        <textarea id="secreturi" wrap="hard" class="selectable" type="url"
                                  readonly>{{share_uri}}</textarea>
                    </div>
                </form>
            </div>
            {{^is_destroyed}}
                <em>{{i18n.COMMON.expires_in}} {{expiration_stamp}}</em>.
            {{/is_destroyed}}

            <div class="section-inner">
                <input value="Copy Link" type="button" class="btn" id="btn-copy" role="button"
                       data-clipboard-target="#secreturi">
            </div>

            <div id="issue">
                <a id="btn-issue" href="" role="button">Issue Copying
                    <img id="info-icon" src="/assets/images/sprites/info-link.png">
                </a>
            </div>
        </div>
    </section>

    <section id="help" class="sections">
        <div id="higlight-link" class="help-container">
            <div>
                <p class="help-text">Click the box above to highlight the link text in blue</p>
            </div>

            <div>
                <table class="help-box">
                    <tr>
                        <td class="left-icon">
                            <img src="/assets/images/sprites/arrow@2x.png">
                        </td>
                        <td>
                            <p id="highlighted-text"><span class="highlighted">http://www.sound</span>inthe...</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="copy-link" class="help-container">
            <div>
                <p class="help-text">Next, copy the link using the shortcut below</p>
            </div>

            <div>
                <table class="help-box">
                    <tr>
                        <td class="left-icon">
                            <img src="/assets/images/sprites/copy@2x.png">
                        </td>
                        <td class="mac">

                            <p>Macintosh</p>

                            <div class="cmd">
                                <p><span><img src="/assets/images/sprites/cmd@2x.png">+ C</span></p>
                            </div>
                        </td>
                        <td class="windows">
                            <div>
                                <p>&nbsp;Windows</p>
                                <p class="cmd">CTRL + C</p>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <div id="paste-link" class="help-container">
            <div>
                <p class="help-text">Open your email window and paste the link</p>
            </div>

            <div>
                <table class="help-box">
                    <tr>
                        <td class="left-icon">
                            <img src="/assets/images/sprites/copy@2x.png">
                        </td>
                        <td class="mac">

                            <p>Macintosh</p>

                            <div class="cmd">
                                <p><span><img src="/assets/images/sprites/cmd@2x.png">+ C</span></p>
                            </div>
                        </td>
                        <td class="windows">
                            <div>
                                <p>&nbsp;Windows</p>
                                <p class="cmd">CTRL + C</p>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </section>


    <section class="footer">
        <div>
            <p>Provided By: <a href="http://www.soundintheory.co.uk">Sound in Theory</a> | Powered By: <a
                    href="https://onetimesecret.com/">One Time Secret</a></p>
        </div>
    </section>

</div>
</body>
