{{>header}}
<body>
<div id="wrapper">

    <section id="header">
        <div id="header-left">
            <h1><a class="header-link" href="/">Send Information Securely</a></h1>
            <p class="header-link">Via <a id="sit" href="http://www.soundintheory.co.uk">Sound in Theory</a>
            </p>
        </div>

        <div id="header-right">
            <img src="/img/SIT_ICON_CMYK.png" alt="Logo" id="logo">
        </div>
    </section>

    <section class="sections" id="three">
        <h2 class="section-header">3. Copy the link below and send via email, text or chat</h2>
        <div class="section-inner">
            <div id="link" class="clearfix">
                <form id="url-form">
                    <div id="secreturi-wrap" >
                        <label for="secreturi"><i class="fa fa-chain"></i></label>
                        <input id="secreturi" class="selectable" value="{{share_uri}}" type="url" readonly autofocus/>
                    </div>

                </form>
            </div>
            {{^is_destroyed}}
                <em>{{i18n.COMMON.expires_in}} {{expiration_stamp}}</em>.
            {{/is_destroyed}}

            <div class="section-inner">
                <button class="btn" id="btn-copy" role="button" type="button" data-clipboard-target="#secreturi">Copy Link</button>
            </div>
        </div>
    </section>

    <section class="footer">
        <div>
            <p>Provided By: <a href="http://www.soundintheory.co.uk">Sound in Theory</a> | Powered By: <a  href="https://onetimesecret.com/">One Time Secret</a></p>
        </div>
    </section>

</div>
</body>
