{{>header}}
<div id="wrapper">
    <div id="error">
        <h2>Oops, It looks like this secret doesn't exist!</h2>
        <img id="img-error" src="/img/SIT_ICON_CMYK.png" alt="Sound in Theory">
    </div>

    <section class="footer">
        <div>
            <p>Provided By: <a href="http://www.soundintheory.co.uk">Sound in Theory</a> | Powered By: <a
                    href="https://onetimesecret.com/">One Time Secret</a></p>
        </div>
    </section>
</div>
